.maimt{
    font-size:xx-large;
    color: red;
    text-align: left;
}
.info{
    font-size: medium;
    text-align: center;
    color:black
}
#container{
    border-radius: 8px;
    color: black;
    padding-left: 8%;
    height: auto;
    width: 25%;
}
.name{
    text-align: center;
    color:red;
    margin-left: 8%;
}
#class{
    color:blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-left:10%;
}
#sec{
    color: red;
    font-family:calibri;
    text-align: center;
    margin-left: 8%;
}